<!-- Footer -->
<footer class="bg-dark text-light text-center py-2">
  &copy;
  {{site_copyright}}
  <span id="year"></span>
  Owner:
  {{site_owner}}
  | Author:
  {{site_author}}
  | All Rights Reserved
</footer>